---
import { Icon } from "astro-icon/components";
---

<aside class="chat closed">
	<button id="openChat">
		<Icon name="chat/chat-bubbles" />
	</button>
	<header class="chat-header">
		<Icon name="chat/chat-bubbles" />
		<h2>Chat with an AI</h2>
		<button id="closeChat">
			<Icon name="chat/close" />
		</button>
	</header>
	<ul id="messages">
		<!-- Here are the history of messgaes -->
	</ul>
	<form id="chatForm">
		<input id="message" type="text" autocomplete="off" />
		<button id="submitButton" type="submit">Send</button>
	</form>
</aside>

<script>
	import { initChat, sendMessage } from "@/lib/chatbot_utils";
	import { $ } from "@/lib/dom-selector";

	document.addEventListener("astro:page-load", () => {
		initChat();
		$("#chatForm")?.addEventListener("submit", async function (e) {
			e.preventDefault();
			await sendMessage();
		});

		// Logic to open and close the chat
		const $chat = $(".chat") as HTMLElement;
		const $openChat = $("#openChat") as HTMLElement;
		const $closeChat = $("#closeChat") as HTMLElement;
		const $messages = $("#messages") as HTMLElement;

		$openChat.addEventListener("click", () => {
			$chat.classList.remove("closed");
			$messages.scrollTop = $messages.scrollHeight;
		});

		$closeChat.addEventListener("click", () => {
			$chat.classList.add("closed");
		});
	});
</script>

<style>
	:global(ul#messages),
	ul#messages > :global(li) {
		list-style: none;
		padding: 0;
		margin: 0;
	}

	.chat {
		position: fixed;
		bottom: 10dvh;
		right: 10dvw;
		z-index: 20;

		max-width: 40rem;
		border-radius: 5px;
		overflow: hidden;
		outline: 1px solid oklch(var(--clr-text));

		transition: all 0.5s;

		#openChat {
			display: none;
		}

		.chat-header {
			display: flex;
			justify-content: flex-start;
			align-items: center;
			padding: 1rem;
			gap: 1rem;
			background-color: oklch(var(--clr-text));

			h2 {
				font-size: var(--fs-600);
				font-weight: var(--fw-bold);
				color: oklch(var(--clr-accent));
				padding: 0;
				margin: 0;
			}

			[data-icon] {
				width: 3rem;
				height: 3rem;
				color: oklch(var(--clr-accent));
			}

			#closeChat {
				display: grid;
				place-content: center;
				margin-inline-start: auto;
			}
		}

		:global(#messages) {
			display: flex;
			flex-direction: column;
			gap: 1rem;
			position: relative;

			padding: 1.2rem;
			height: min(55rem, 90vh);
			overflow-y: scroll;

			background-color: oklch(var(--clr-background));
			background-image: var(--chat-background);

			:global(li) {
				--_clr-background: var(--clr-neutral-200);
				--_border-radius: 20px;
				position: relative;
				width: min(100%, 30rem);
				background-color: oklch(var(--_clr-background));
				padding: 1rem;

				:global(.text) {
					:global(p) {
						margin: 0;
						font-size: var(--fs-400);
					}
					:global(ul > li) {
						margin: 0;
					}
				}
			}

			:global(.user) {
				--_clr-background: var(--clr-neutral-500);
				color: white;
				align-self: flex-end;
				margin-inline-end: 20px;
				border-radius: var(--_border-radius) var(--_border-radius) 0 var(--_border-radius);
				&::after {
					right: -20px;
				}
			}

			:global(.bot) {
				--_clr-background: var(--clr-neutral-200);
				color: oklch(var(--clr-neutral-800));
				align-self: flex-start;
				margin-inline-start: 20px;
				border-radius: var(--_border-radius) var(--_border-radius) var(--_border-radius) 0;
				&::after {
					left: -20px;
				}
			}

			:global(.user::after),
			:global(.bot::after) {
				content: "";
				display: block;
				position: absolute;
				bottom: 0;

				width: 10px;
				height: 10px;
				border-radius: 20px;
				background-color: oklch(var(--_clr-background));
			}

			:global(li header) {
				display: flex;
				align-items: center;
				justify-content: space-between;
				color: inherit;
				margin-block-end: 0.5rem;

				:global(h3) {
					color: inherit !important;
					font-weight: var(--fw-bold);
					margin: 0;
				}
			}
		}

		#chatForm {
			display: flex;
			align-items: center;
			gap: 1rem;
			padding: 0.8rem;
			background-color: oklch(var(--clr-text));

			input {
				flex: 1;
				margin: 0;
				height: 4rem;
			}

			button {
				margin-left: 10px;
				padding: 0.5rem 1rem;
				background: oklch(var(--clr-primary));
				color: oklch(var(--clr-lig));
				font-weight: var(--fw-bold);
				transition: background 0.23s;

				&:hover {
					background: oklch(var(--clr-yellow-500));
				}
			}
		}
	}

	.chat:is(.closed) {
		width: 70px;
		height: 50px;
		border-radius: 100%;
		background-color: oklch(var(--clr-text));
		box-shadow: oklch(var(--clr-text) / 0.35) 0px 5px 15px;
		overflow: visible;
		transition: all 0.5s;

		& * {
			display: none;
		}

		ul#messages {
			display: none;
		}
		#chatForm {
			display: none;
		}

		#openChat {
			display: grid;
			place-content: center;
			height: 100%;
			width: 100%;

			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			[data-icon] {
				display: block;
				width: 40px;
				height: 40px;
				color: oklch(var(--clr-accent));
			}
		}

		&::after {
			content: "";
			display: block;
			width: 0;
			height: 0;

			position: absolute;
			left: 0px;
			bottom: 0px;
			z-index: -1;

			border: 15px solid;
			border-color: transparent oklch(var(--clr-text)) oklch(var(--clr-text)) transparent;
			transition: all 0.5s;
		}
	}

	@media (--media-tablet) {
		.chat:not(.closed) {
			inset: var(--navbar-height) 0 0 0;
			margin: 10px;
			max-width: none;

			ul#messages {
				height: calc(100% - 11rem);
			}
		}

		.chat:is(.closed) {
			bottom: 4rem;
		}
	}

	:global(span.loader) {
		width: 100%;
		height: 65px;
		display: block;
		background-image: linear-gradient(
				100deg,
				transparent,
				oklch(var(--clr-neutral-200)) 50%,
				transparent 80%
			),
			linear-gradient(#fff 20px, transparent 0), linear-gradient(#fff 20px, transparent 0),
			linear-gradient(#fff 20px, transparent 0);
		background-repeat: no-repeat;
		background-size:
			75px 65px,
			50% 15px,
			100% 15px,
			100% 15px;
		background-position:
			-50% 0,
			0px 0px,
			0px 25px,
			0px 50px;
		animation: animloader 1s linear infinite;
	}

	@keyframes animloader {
		0% {
			background-position:
				0% 0,
				0px 0px,
				0px 25px,
				0px 50px;
		}
		100% {
			background-position:
				100% 0,
				0px 0px,
				0px 25px,
				0px 50px;
		}
	}
</style>
